@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.3);
  padding: 10px 0;
}

header * {
  margin: 0 15px;
}

header h1 {
  text-align: center;
  font-size: 1.5em;;
  font-family: "Satisfy", cursive;
  color: whitesmoke;
  width: max-content;
}

header input {
  align-items: center;
  outline: none;
  border: solid 1px #eee;
  padding: 10px 5px;
  border-radius: 4px;
}

@media (max-width: 450px) {
  header {
    flex-direction: 'column';
  }
}